.navbar{
    background-color: #2C3E50;
    color: aliceblue;
}


section{
    background-color: #1abc9c;
    color: aliceblue;
}
 
.last{
    background-color: #3a546d;
    color: aliceblue;
}


.bg-a{
    background-color: #2C3E50;
    color: aliceblue;



}

